<% if(success && success.length) { %>
    <div id="success-alert" onclick="closeAlert('success-alert')" style="display: flex; justify-content: center; align-items: center; background-color: #d4edda; border: 1px solid #c3e6cb; color: #155724; padding: 8px 16px; border-radius: 4px; margin-bottom: 16px; position: relative; transition: opacity 0.3s ;" role="alert">
        <span style="font-size: 1.25rem;"><%= success %></span>
        <button type="button" style="position: absolute; right: 16px; padding-left: 16px; background: none; border: none;" aria-label="Close">
            <span style="color: #155724; font-size: 1.25rem;" aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error && error.length) { %>
    <div id="error-alert" onclick="closeAlert('error-alert')" style="display: flex; justify-content: center; align-items: center; background-color: #f8d7da; border: 1px solid #f5c6cb; color: #721c24; padding: 8px 16px; border-radius: 4px; margin-bottom: 16px; position: relative; transition: opacity 0.3s ;" role="alert">
        <span style="font-size: 1.25rem;"><%= error %></span>
        <button type="button" style="position: absolute; right: 16px; padding-left: 16px; background: none; border: none;" aria-label="Close">
            <span style="color: #721c24; font-size: 1.25rem;" aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<script>
    function closeAlert(id) {
        const alert = document.getElementById(id);
        alert.style.opacity = '0';
        setTimeout(() => {
            alert.style.display = 'none';
        }, 200); 
    }
</script>
