<nav class="sticky top-0 w-full z-50 text-white shadow-lg" style="background-color: #1E1E2E;">
    <div class="mx-4 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-3 items-center">
        <div class="flex justify-center ">
            <a href="/projectCard" class="text-lg font-bold">WeeProfile</a>
        </div>
        <div class="flex justify-center ">
            <a href="/projectCard" class="px-4 py-4 hover:bg-gray-700 ">Home</a>
            <a href="#" class="px-4 py-4 hover:bg-gray-700">About</a>
            <a href="/reviews" class="px-4 py-4 hover:bg-gray-700">Reviews</a>            
        </div>
        <div class="flex justify-end items-center space-x-3">
            <% if (!currentUser) { %>
            <a href="/users/signUp" class="px-4 py-4 hover:bg-gray-700">Sign Up</a>
            <a href="/users/login" class="px-4 py-4 hover:bg-gray-700">Login</a>
            <% } else { %>
            <div class="flex justify-center items-end flex-col">
                <h1 class="text-lg">Username : <%= currentUser.username %></h2>
                <h1 class="text-lg">Role : <%= currentUser.role %></h2> 
            </div>
            <form action="/users/logout" method="post">
                <button type="submit" class="hover:bg-gray-700 text-white font-bold py-4 px-4 rounded">
                    Logout
                </button>
            </form>
            <% } %>           
        </div>       
    </div>
</nav>