.project-card, nav a, nav button {
    background-color: #1E1E2E;
    transition: background-color 0.3s ease;
}
  
.project-card:hover {
    background-color: #32324b;

}
button:hover, a:hover {    
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}
.button {
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.button:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .projectInputCon, .loginCon{
        width: 80vw ;
    }           
}
@media screen and (min-width: 768px) {
    .projectInputCon, .loginCon {
        width: 60vw ;
    }           
}
@media screen and (min-width: 1024px) {
    .projectInputCon, .loginCon{
        width: 50vw ;
    }           
}
@media screen and (min-width: 1280px) {
    .projectInputCon, .loginCon{
        width: 40vw ;
    }           
}
@media screen and (min-width: 1536px) {
    .projectInputCon, .loginCon{
        width: 30vw ;
    }           
}
