<% layout('layouts/boilerplate')%>

<section id="projectCardsCon" class="hero-image h-auto flex items-center justify-center bg-cover py-8">
    <div class="text-center text-white">
        <h1 class="text-5xl font-bold mb-10">Select Project</h1>
        <div class="container mx-auto mb-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                <a href="/resume" class="p-6 rounded-lg shadow-md project-card">
                    <h3 class="text-xl font-bold mb-2">Resume</h3>
                    <h3 class="text-xl font-semibold mb-2">2024</h3>
                </a>
                <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                    <h3 class="text-xl font-bold mb-2">CV</h3>
                    <h3 class="text-xl font-semibold mb-2">2024</h3>

                </a>
                <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                    <h3 class="text-xl font-bold mb-2">YelpCamp</h3>
                    <h3 class="text-xl font-semibold mb-2">2024</h3>
                </a>
                <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                    <h3 class="text-xl font-bold mb-2">WeeDex (โปรเจคจบ)</h3>
                    <h3 class="text-xl font-semibold mb-2">2022-2023</h3>
                </a>
                <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                    <h3 class="text-xl font-bold mb-2">SwipSwap</h3>
                    <h3 class="text-xl font-semibold mb-2">2023-2024</h3>
                </a>
                <% cards.forEach(card => { %>                        
                    <a href="<%= card.projecthref %>" class="p-6 rounded-lg shadow-md project-card ">
                        <h3 class="text-xl font-bold mb-2 break-all"><%= card.projectName %></h3>
                        <div class="flex justify-center">
                            <h3 class="text-xl font-semibold mb-2"><%= new Date(card.startDate).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></h3>
                            <p class="text-xl font-semibold mx-2"> - </p>
                            <h3 class="text-xl font-semibold mb-2"><%= new Date(card.endDate).toLocaleDateString('en-GB', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></h3>
                        </div>
                    </a>
                <% }); %>
                
            </div>                
        </div>
        <div class="flex justify-center space-x-8 my-8">
            <button id="addProjectBtn" class="mx-3 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                Add Project
            </button>
            <a href="/projectCard/edit">
                <button type="button" class="bg-yellow-400 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
                    Edit Project
                </button>
            </a>                
            <a href="/projectCard/delete">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                    Delete Project
                </button>
            </a>
        </div>        
    </div>
</section>        

<div id="projectModal" class="fixed hidden z-10 inset-0 flex items-center justify-center" style="background-color: rgba(0, 0, 0, 0.5);">
    <div class="projectInputCon bg-gray-900 px-4 py-5 sm:p-6 text-white rounded-lg">
        <h3 class="text-lg leading-6 font-medium  mb-4">Add New Project</h3>
        <form action="/projectCard" method="POST">
            <div class="mb-4">
                <label for="projectName" class="block text-sm font-medium">Project Name</label>
                <input name="projectCard[projectName]" type="text" id="projectName" class="mt-1 p-2 border border-gray-300 rounded w-full text-gray-900" required>
            </div>
            <div class="mb-4">
                <label for="startDate" class="block text-sm font-medium">Start Date</label>
                <input type="date" id="startDate" name="projectCard[startDate]" class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-gray-900" required>
            </div>
            <div class="mb-4">
                <label for="endDate" class="block text-sm font-medium">End Date</label>
                <input type="date" id="endDate" name="projectCard[endDate]" class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:ring-blue-500 focus:border-blue-500 text-gray-900" required>
            </div>              
            <div class="mb-4">
                <label for="projecthref" class="block text-sm font-medium">Project HRef</label>
                <input name="projectCard[projecthref]" type="text" id="projecthref" class="mt-1 p-2 border border-gray-300 rounded w-full text-gray-900" required>
            </div>

            <div class="flex justify-end space-x-2">
                <button type="button" id="cancelBtn" class="mx-3 bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded">
                    Cancel
                </button>
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 font-bold py-2 px-4 rounded">
                    Add Project
                </button>
            </div>
        </form>
    </div>
</div>
<script src="/addProject.js"></script>