<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced Tailwind CSS Example</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="home.css">
</head>
<body class="bg-gray-100">
    <nav class="text-white py-4" style="background-color: #1E1E2E;">
        <div class="container mx-auto flex justify-between items-center">
            <div>
                <a href="#" class="text-lg font-bold">WeeProfile</a>
            </div>
            <div>
                <a href="/home" class="px-4">Home</a>
                <a href="#" class="px-4">About</a>
                <a href="#" class="px-4">Services</a>
                <a href="#" class="px-4">Contact</a>
            </div>
        </div>
    </nav>

    <section class="hero-image h-screen flex items-center justify-center bg-cover" style="background-image: url('https://images.pexels.com/photos/414144/pexels-photo-414144.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')">
        <div class="text-center text-white">
            <h1 class="text-5xl font-bold mb-10">Select Project</h1>

            <div class="container mx-auto ">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                    <a href="/resume" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">Resume</h3>
                        <h3 class="text-xl font-semibold mb-2">2024</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">CV</h3>
                        <h3 class="text-xl font-semibold mb-2">2024</h3>

                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">YelpCamp</h3>
                        <h3 class="text-xl font-semibold mb-2">2024</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">WeeDex (โปรเจคจบ)</h3>
                        <h3 class="text-xl font-semibold mb-2">2022-2023</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">SwipSwap</h3>
                        <h3 class="text-xl font-semibold mb-2">2023-2024</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">---</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">---</h3>
                    </a>
                    <a href="http://" class="p-6 rounded-lg shadow-md project-card">
                        <h3 class="text-xl font-bold mb-2">---</h3>
                    </a>
                </div>                
            </div>

        </div>
    </section>   
        
    <footer class="text-white py-8" style="background-color: #1E1E2E;">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 WeeProfile. All rights reserved.</p>
        </div>
    </footer>

</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</html>
